PORT = 5000
DATABASE_URL="YOURDATABASEURL"

JWT_SECRET="YOURJWTSECRET"
NODE_ENV="development"
R2_ACCESS_KEY_ID="YOURACCESSKEYID"
R2_SECRET_ACCESS_KEY="YOURSECRETACCESSKEY"
R2_BUCKET_NAME="listing-images"
R2_PUBLIC_URL="https://r2.dev"
SMTP_HOST="smtpHOST"
SMTP_PORT="465"
SMTP_USER="donotreply@example.com"
SMTP_PASS="YOURPASSWORD"
EMAIL_FROM="EXAMPLE <donotreply@example.com>"
GEOAPIFY_API_KEY=YOURAPIKEY
GOOGLE_CLIENT_ID=YOURCLIENTID
GOOGLE_CLIENT_SECRET=YOURCLIENTSECRET
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback
